@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

/* font-family: "Playfair Display", serif; hero title */
/*  font-family: "Poppins", sans-serif; */
/* font-family: "Inter", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F9F5EF;
    --text-color: black;
    --tag-color: white;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: white;
    --tag-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.theme {
    justify-content: flex-end;
}

.title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
}

#date {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Main page */

main {
    margin-top: 36px;
}

.tags ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

li {

    padding: 10px 22px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.active {
    background-color: var(--text-color);
    color: var(--tag-color);
}




/** News Section */

.hero-news {
    margin: 27px;
    display: flex;
    justify-content: center;

}

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.img img {
    border-radius: 20px;
}

.text .tag {
    background-color: wheat;
    width: fit-content;
    padding: 2px 16px;
    border-radius: 15px;
    color: black;
}

.text h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.text .desc {
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.text .btn {
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: black;
    width: fit-content;
    color: white;
    padding: 10px 20px;
    border-radius: 26px;
}

.text .btn a{
    text-decoration: none;
    color: white;
}

@media (max-width:600px) {

    .hero {
        flex-direction: column;
    }


}


/** Quotes & Jokes */

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    width: 80%;
}

.quotes .text{
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.quotes .text h2{
    text-decoration: underline;
}

@media (max-width:600px){
    .quotes{
       margin: 100px 25px 100px 35px;
    }
}

/** Cards */

.news {
    /* margin: 40px 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cards {
    /* width: 25%; */
    width: min-content;
}

@media(max-width:600px){
    .news{
        flex-direction: column;
        
    }
}